@import url("https://fonts.googleapis.com/css2?family=Mako&display=swap");
@import url("http://fonts.cdnfonts.com/css/sawasdee");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mako";
  position: relative;
  min-height: 100vh;
  color: #333;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #f6f6f6;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  img {
    cursor: pointer;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: #333;
  color: white;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  a {
    text-decoration: none;
    color: #ff6161;
  }
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 12rem;
}

.btn {
  font-family: "Sawasdee";
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  img {
    width: 100%;
  }
}

.btn-primary {
  background-color: #ff6161;
  color: white;
  font-weight: bold;
}
.answers {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #ff6161;
  color: white;
  align-items: center;
  font-size: 22px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.choices {
  display: flex;
  height: max-content;
  align-items: center;
  > * {
    margin: 20px;
  }
}

.dice {
  width: 80px;
}
.answer {
  width: 160px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #333;
}
.win {
  background-color: #4fcb63;
}
.defeat {
  background-color: #df3434;
}
.tie {
  background-color: rgb(93, 114, 211);
}
